<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间，绑定的是一个对应的mapper接口-->
<mapper namespace="com.devil.dao.UserDao">

    <select id="findByUsername" resultType="User">
        select * from user where name = #{username} and password = #{password}
    </select>

    <select id="checkUsername" resultType="user">
        select * from user where name = #{username}
    </select>
</mapper>