<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，绑定的是一个对应的mapper接口-->
<mapper namespace="com.devil.dao.UserInfoDao">
    <!--
    TODO id: 对应的是 namespace中的方法名
     resultType：Sql语句的返回值
     parameterType：参数类型
    -->

<!--    字段映射-->
    <resultMap id="base_result_map" type="userInfo">
<!--        column： 书就看字段-->
<!--        property：实体类字段-->
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="position" property="position"/>
        <result column="roles" property="roles"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from user_info where phone = #{phone}
    </select>

    <insert id="insert" parameterType="userinfo">
        insert into user_info(user_name,phone,password,birthday,sex,position,roles,create_time)
         values(#{userName},#{phone},#{password},#{birthday},#{sex},#{position},#{roles},#{createTime})
    </insert>

    <update id="updateByUserId" parameterType="userinfo">
        update user_info
        set
        user_name=#{userinfo.userName},
        phone=#{userinfo.phone},
        birthday=#{userinfo.birthday},
        sex=#{userinfo.sex},
        position=#{userinfo.position},
        roles=#{userinfo.roles}
        where
        user_id = #{userinfo.userId}
    </update>

    <select id="selectByUserId" resultMap="base_result_map">
        select * from user_info where user_id = #{userId}
    </select>
    <update id="updatePassword" parameterType="userinfo">
        update user_info set
        password = #{userinfo.password}
        where user_id = #{userinfo.userId}
    </update>

    <delete id="deleteUserinfoByUserId" parameterType="java.lang.Integer">
        delete from user_info where user_id = #{userId}
    </delete>

    <select id="getAllUser" resultMap="base_result_map" >
        select * from user_info limit #{pageStart},#{pageSize}
    </select>

    <select id="selectCounts" resultType="java.lang.Integer">
        select count(*) from user_info
    </select>


    <!--
只传 userNameFuzzy ，没传 phoneFuzzy
select * from user_info WHERE user_name like concat('%', ?, '%') order by user_id desc limit ?, ?

只传 phoneFuzzy 没传 userNameFuzzy,查不到数据
select * from user_info WHERE phone like concat('%', ?, '%') order by user_id desc limit ?, ?
-->

    <!--
    什么都不传
    select * from user_info order by user_id desc limit ?, ?
    -->
    <select id="selectListByParam" resultMap="base_result_map">
        select * from user_info
        <where>
            <if test="query.userNameFuzzy != null and query.userNameFuzzy != ''">
                user_name like concat('%',#{query.userNameFuzzy},'%')
            </if>

            <if test="query.phoneFuzzy !=null and query.phoneFuzzy != ''">
                and phone like concat('%',#{query.phoneFuzzy},'%')
            </if>
        </where>
        order by user_id desc
        limit #{query.simplePage.start}, #{query.simplePage.pageSize}
    </select>
</mapper>
